*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}
body{
    height: auto;
    max-width: 1160px;

}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
}
header{
    background-color: #782221;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}