
*{
    box-sizing: border-box;
    margin: auto;
}
body{
    height: auto;
    max-width: 1160px;

}
figure{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
}
#picture{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px black;
    cursor: zoom-in;
}
header{
    background-color: #782221;
    padding-top: 2%;
}
nav{
    background-color: black;
    padding: 2%;
}
address{
    display: flex;
    justify-content: space-evenly;
}
#localisation{
    width: 150px;
}
address>a{
    text-decoration-line:none;
    color: white;
    font-family:"Raleway";
}
address>a:hover{
text-decoration-line:underline
}
main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-right-style: solid;
    border-color: black;
}
.block1{
    height: 875.13px;
    width: 400px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #782221;
    padding-top: 2%;
}
.block1__block1-title{
    background-color: #dbc2a4;
    padding-bottom: 2%;
    text-indent: 5%;
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.block1__block1-element{
    margin-right: 5%;
}
#lorem{
    text-indent: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    color: white;
    font-family: "Raleway";
}
.block1__block1-element>ul{
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-family: "Raleway";
}
.block2__block2-element{
    width: 700px;

}
.block2__block2-title{
    background-color: #dbc2a4;
    font-size: large;
    font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.block2__block2-title:hover{
    border-left-color:#782221;
    border-left-style: solid;
}
.block2__block2-element>p{
padding-top: 2%;
padding-bottom: 2%;
font-family: "Raleway";
}
.block2__block2-item{
    font-weight: bold;
}
.block2{
    padding-top: 2%;
}
.social_network_logo{
    height: 50px;
    width: 50px;
    }
    .social_network_logo:hover{
        opacity: calc(50%);
    }
    footer{
        background-color: #782221;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        }
    .social_network{
        display: flex;
        justify-content: center;
    }
    .social_network>a{
      margin: 25px;
    }
    figure>h1 h2{
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-style:normal
    }
